
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');
    body {
        background-color: black;
        color:  #76B900;
        font-family: 'Open Sans';
       
    }

    h1 {
        text-align: center;
        font-size: 50px;  
    }

    h2 {
        font-size: 30px;
    }

    p {
        font-size: 18px;
    }

    li {
        font-size: 15px;
        margin-bottom: 5px;
    }

    th {
        font-size: 40px;
        text-align: center;
    }

    td {
        font-size: 30px;
        text-align: center;
    }

    table, th, td {
        border: 1px  solid  #76B900;
        border-collapse: collapse;
    }

    tr:nth-child(even) {
        background-color: #76B900;
        color: black;
    }
    
    iframe{ 
        display:block; 
        margin:auto; 
    }

    a:link {
       color: #76B900;
       background-color: transparent;
       text-decoration: none; 
    }

    a:visited {
        color: rgb(0, 84, 0);
        background-color: transparent;
        text-decoration: none;
    }

    a:hover {
        color: blue;
        background-color: transparent;
        text-decoration: none;
    }

